<div class="wrapper" *ngIf="book">

  <div class="editBackWrapper">
    <fa-icon size="2x" [icon]="editIcon" class="editButton" (click)="toggleEditBookForm()"></fa-icon>
    <fa-icon size="2x" [icon]="exitIcon" class="exitButton" (click)="goBack()">
    </fa-icon>
  </div>

  <div class="imageWrapper">
    <img class="image" src="{{ book.image }}" />
    <div class="genreWrapper">
      <div class="genreImageWrapper">
        <img class="genreImage" src="../../../assets/{{ book.genre.toLowerCase() }}.png"/>
      </div>
      <p class="genreText">{{ book.genre }}</p>
    </div>
  </div>

  <div class="textWrapper">
    <h2 class="heading">{{ book.title }}</h2>
    <p class="author">{{ book.author }}</p>
    <p class="description">{{ book.description }}</p>


    <p class="publishingYear">Publishing year: <b>{{ book.publishing_year }}</b></p>
  </div>

</div>




<div class="formWrapper" *ngIf="showEditBookForm">

  <div class="form">

    <div class="inputWrapper">
      <label for="image">Book image: </label>
      <input class="input" id="image" [(ngModel)]="book.image" placeholder="image" />
    </div>

    <div class="inputWrapper">
      <label for="title">Book title: </label>
      <input class="input" id="title" [(ngModel)]="book.title" placeholder="title" />
    </div>

    <div class="inputWrapper">
      <label for="author">Book author: </label>
      <input class="input" id="author" [(ngModel)]="book.author" placeholder="author"/>
    </div>

    <div class="inputWrapper">
      <label for="description">Book description: </label>
      <input class="input" id="description" [(ngModel)]="book.description" placeholder="description"/>
    </div>

    <div class="inputWrapper">
      <label for="genre"> Book genre </label>
      <select id="genre" required class="input" [(ngModel)]="book.genre" placeholder="genre">
        <option [ngValue]="book.genre">{{ book.genre }}</option>
        <option value="Fantasy">Fantasy</option>
        <option value="History">History</option>
        <option value="Horror">Horror</option>
        <option value="Mystery">Mystery</option>
        <option value="Psychology">Psychology</option>
        <option value="Romance">Romance</option>
      </select>
    </div>

    <div class="inputWrapper">
      <label for="publishing_year">Book publishing year: </label>
      <input class="input" id="publishing_year" [(ngModel)]="book.publishing_year" placeholder="publishing_year"/>
    </div>
    
    <div class="buttonWrapper">
      <app-button class="saveButton" [class]="buttonClass" text="Save" (btnClick)="save()" ></app-button>
    </div>

  </div>
</div>
