<div class="wrapper" *ngIf="book">
  <img class="image" src="{{ book.image }}" />
  <h2>{{ book.title }}</h2>
  <p>{{ book.author }}</p>
  <div class="genreWrapper">
    <img
      class="genreImage"
      src="../../../assets/{{ book.genre.toLowerCase() }}.png"
    />
    <p>{{ book.genre }}</p>
  </div>
  <p>{{ book.publishing_year }}</p>
  <div>
    <label for="title">book title: </label>
    <input id="title" [(ngModel)]="book.title" placeholder="title" />
  </div>
  <div>
    <label for="author">book author: </label>
    <input id="author" [(ngModel)]="book.author" placeholder="author" />
  </div>
  <div>
    <label for="genre"> Book genre </label>
    <select
      id="genre"
      required
      class="input"
      [(ngModel)]="book.genre"
      placeholder="genre"
    >
      <option [ngValue]="book.genre">{{ book.genre }}</option>
      <option value="fantasy">Fantasy</option>
      <option value="history">History</option>
      <option value="horror">Horror</option>
      <option value="mystery">Mystery</option>
      <option value="psychology">Psychology</option>
      <option value="romance">Romance</option>
    </select>
  </div>

  <div>
    <label for="publishing_year">book year: </label>
    <input
      id="publishing_year"
      [(ngModel)]="book.publishing_year"
      placeholder="publishing_year"
    />
  </div>
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="save()">save</button>
</div>
