.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap:10px;
  padding-bottom:25px;
  width: 50%;
  
}

.input{
  padding:5px 10px;
  border-radius: 10px;
  border:none;
  width: 100%;
}
