*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
  background: rgb(207,226,243);
  background: linear-gradient(90deg, rgba(207,226,243,1) 0%, rgba(244,247,249,1) 50%, rgba(207,226,243,1) 100%);
}
